/*
    Stylesheet for Title Name Popup

    Old JQuery UI Dialog CSS

.ui-dialog .ui-dialog-title {
    text-align: center;
    width: 100%;
}

.ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

#changeTitle {
    margin-top: 10px;
}
*/

.modal {
    height: 100%;
    text-align: center;
}

.modal-content {
    width: inherit;
    height: inherit;

    margin: 0 auto;
}

.modal-dialog {
    margin: auto;
    vertical-align: middle;
}

.modal-header {
    text-align: center;
}

#title {
    text-align: center;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

.modal-dialog {
    display: table-cell;
    vertical-align: middle;
}